*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: white;
}

#main{

}
#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
}
#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
} 
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid#000;
    
    
}
#btn2{
    background-color: red;
    color: white;
    border: none;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 450px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
}
#img-1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img-2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img-3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#img-4{
    transform: translate(-50%,-50%) rotate(-2deg);
}
#btn-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}